@page "/webhook/details/{id}"
@inject HttpClient Http
@rendermode InteractiveWebAssembly
@using WebHookApp.Client.Models

<h3>Webhook Request Details</h3>

@if (request != null)
{
    <p><strong>IP Address:</strong> @request.ipAddress</p>
    <p><strong>User-Agent:</strong> @request.userAgent</p>
    <p><strong>Headers:</strong> @request.headers</p>
    <p><strong>Body:</strong> @request.body</p>
    <p><strong>Query Parameters:</strong> @request.queryParams</p>
    <p><strong>Files:</strong> @request.filePath==null?null:@request.filePath</p>
}
else
{
    <p>Loading request details...</p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private webHookRequest request;

    protected override async Task OnInitializedAsync()
    {
        await LoadRequestDetails();
    }

    private async Task LoadRequestDetails()
    {
        var response = await Http.GetAsync($"api/WebHook/request/{Id}");
        if (response.IsSuccessStatusCode)
        {
           request = await response.Content.ReadFromJsonAsync<webHookRequest>();
        }
    }
}
